
p{
    color: rgb(10, 157, 41);
    line-height: 3;
    font-size: 20px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace
    
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}

.paragraph-format{

    border-style: double rgb(15, 179, 24);
    box-sizing: content-box;
    width: 70%;
    border-width: 10px;
    background-color: rgb(75, 71, 71);
    border-radius:20px;
    opacity: 0.9;    
    margin-right: auto;
    margin-left: auto;
    padding: 100px;

}

h1{
    text-decoration: underline;
    font-size: 70px;
    color: rgb(94, 118, 21);
    font-family: 'Courier New', Courier, monospace
    
}
h2{
    font-size:50px;
    color:rgb(5, 5, 5);
    font-family: 'Courier New', Courier, monospace
}
body{
    background-image: url(https://wallpapers.com/images/hd/ghostbusters-1926-x-1086-background-72vcy83kmlnz528n.jpg);
    background-repeat: no-repeat;
    background-image: center;
    background-attachment: fixed;
    
    
}