
@media(max-width: 800px){
    body {
    width: 90%;
    margin: auto auto;
    background-color: #ffffff;
}
}

@media (min-width: 640px) {
    body {
        background-color: #eaf6ff;
    }
}

h1 {
    font-size: 1.5rem;
    text-align: center;
}

@media (min-width: 640px) {
    h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 499px) {
    h1 {
        font-size: 1.5rem;
    }
}

aside{
    width: 170px;
    margin: 10px;
    font-size: 0.8rem;
}
li{
    list-style: none;
}
ul {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 1rem -10px 1rem -10px;
}

@media (min-width: 640px) {
    li{
        width: 25%;
    }
    aside{
        margin: 10px;
    }
}


